{% extends 'base.html.twig' %}

{% block title %}Tous les films{% endblock %}

{% block body %}
<section class="search">
    {% include "program/_filter.html.twig" with {form: form} only %}
</section>
<section class="results">
    <h2>{{  movies.getTotalItemCount }}
        {% if movies.getTotalItemCount == 1 %}
            film</h2>
        {% else %}
            films</h2>
        {% endif %}
        {% if movies is empty %}
            <div class="container">
                <div class="empty">
                    <i class="bi bi-question-octagon-fill"></i>
                    <h5>Aucun film ne correspond à ta recherche</h5>
                </div>
            </div>
        {% endif %}
    <div class="cards">
        {% for movie in movies %}
        <div class="card">
            <a href="{{ path("movie_show", { slug: movie.slug }) }}">
                <img class="card-img-top" src="https://image.tmdb.org/t/p/original{{ movie.poster }} " alt="Affiche de {{ movie.title }}">
            </a>
            <div class="card-body">
                <h6>{{ movie.title }}</h6>
                <p class="card-text">{{ movie.year }}</p>
            </div>
        </div>
        {% endfor %} 
    </div>     
    <div class="pagination">
        {% do movies.setPageRange(3) %}
        {{ knp_pagination_render(movies, '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig') }}
    </div>  
</section>
{% endblock %}
