{% extends 'base.html.twig' %}

{% block title %}{{ movie.title }}{% endblock %}

{% block body %}
<section class="info">
    <img class="teaser" src="https://www.gamespot.com/a/uploads/scale_medium/171/1712892/3617668-screen%20shot%202019-12-19%20at%2011.24.25%20pm.png"
        alt="">
    <div class="card">
        <img class="card-img-top" src=" {{ movie.poster }} " alt="Card image cap">
        <div class="card-body">
            <h6>{{ movie.title }}</h6>
            <p class="card-text">{{ movie.year }}</p>
        </div>
    </div>
</section>
<section class="watch">
    <div class="container">
        <div class="seen">
            <h6>DÉJA VU</h6>
            {% if app.user %}
            <a id="seenMovie" href="{{ path('movie_seen', {id: movie.id})}}">
                <i class="bi {{ app.user.isInSeenMovies(movie) ? 'bi-eye-fill' : 'bi-eye' }}"></i>
            </a>
            {% else %}
            <a href="/login">
                <i class="bi bi-eye"></i>
            </a>
            {% endif %} 
        </div>
        <hr>
        <div class="watchlist">
            <h6>WATCHLIST</h6>
            {% if app.user %}
            <a id="movieWatchlist" href="{{ path('movie_watchlist', {id: movie.id})}}">
                <i class="bi {{ app.user.isInMoviesWatchlist(movie) ? 'bi-bookmark-plus-fill' : 'bi-bookmark-plus' }}"></i>
            </a>
            {% else %}
            <a href="#">
                <i class="bi bi-bookmark-plus"></i>
            </a>
            {% endif %}
        </div>
    </div>
</section>
<section class="content">
    <div class="stats">
        <div class="stat">
            <h6>MA NOTE</h6>
            <p>3.5/5</p>
        </div>
        <hr>
        <div class="stat">
            <h6>POPULARITÉ</h6>
            <p>82%</p>
        </div>
        <hr>
        <div class="stat">
            <h6>AVIS</h6>
            <p>3</p>
        </div>
        <hr>
        <div class="stat">
            <h6>FAVORIS</h6>
            {% if app.user %}
            <a id="favoriteMovie" href="{{ path('movie_favorite', {id: movie.id})}}">
                <i class="bi {{ app.user.isInFavoriteMovies(movie) ? 'bi-heart-fill' : 'bi-heart' }}"></i>
            </a>
            {% else %}
            <a href="#">
                <i class="bi bi-bookmark-plus"></i>
            </a>
            {% endif %}     
        </div>
    </div>

    <div class="synopsis">
        <h6>Synopsis</h6>
        <div class="container">
            <p>{{ movie.synopsis }}</p>
        </div>
    </div>

    <div class="actors">
        <h6>Acteurs</h6>
        <div class="container">
            <div class="actors">
                {% for actor in actors %}
                <div class="actor">
                    <img src="{{ actor.portrait }}" alt="" class="portrait">
                    <p>{{ actor.firstName }} {{ actor.lastName }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="comments">
        <h6>Commentaires</h6>
        <div class="container">
            <div class="comment">
                {% if comments is empty %}
                <h4><i class="bi bi-emoji-expressionless-fill"></i></h4>
                <h5>Il n'y a pas encore de commentaires par ici</h5>
                {% else %}
                {% for comment in comments %}
                <div class="postedBy">
                    <h6>Par&nbsp;</h6>
                    <h6 id="user"> {{ comment.author.username }}</h6>
                    <h6>- il y a 2 heures</h6>
                </div>
                <div class="content">
                    <p>{{ comment.comment }}</p>
                </div>
                {% if app.user %}
                    {% if app.user.username == comment.author.username or is_granted("ROLE_ADMIN") %}
                    <div class="edit">
                        {{ include('comment/_delete_form.html.twig') }}
                    </div>
                    {% endif %}
                {% endif %}
                <hr>
                {% endfor %}
                {% endif %}
            </div>
            <div class="addComment">
                <h4>Ajouter un commentaire</h4>
                {% if app.user %}
                    {{ include('comment/_form.html.twig') }}
                {% else %}
                    <p><strong><a href="/login">Connecte-toi</a> </strong>pour ajouter un commentaire</p>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}