{% extends 'base.html.twig' %}

{% block title %}Toutes les séries{% endblock %}

{% block body %}
<section class="search">
    {% include "program/_filter.html.twig" with {form: form} only %}
</section>
<section class="results">
    <h2>{{  series.getTotalItemCount }}
        {% if series.getTotalItemCount == 1 %}
            série</h2>
        {% else %}
            séries</h2>
        {% endif %}
        {% if series is empty %}
            <div class="container">
                <div class="empty">
                    <i class="bi bi-question-octagon-fill"></i>
                    <h5>Aucune série ne correspond à ta recherche</h5>
                </div>
            </div>
        {% endif %}
    <div class="cards">
        {% for serie in series %}
        <div class="card">
            <a href="{{ path("series_show", { slug: serie.slug }) }}">
                <img class="card-img-top" src="https://image.tmdb.org/t/p/original{{ serie.poster }}" alt="Affiche de {{ serie.title }}">
            </a>
            <div class="card-body">
                <h6>{{ serie.title }}</h6>
                <p class="card-text">{{ serie.startYear }}
                {% if serie.endYear %}
                    - {{ serie.endYear }}
                {% else %}
                    - aujourd'hui
                {% endif %}</p>
            </div>
        </div>
        {% endfor %} 
    </div>
    <div class="pagination">
        {% do series.setPageRange(3) %}
        {{ knp_pagination_render(series, '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig') }}
    </div>
</section>
{% endblock %}
