{% extends 'base.html.twig' %}

{% block title %}{{ series.title }}{% endblock %}

{% block body %}
<section class="info">
    <img class="teaser"src="https://www.gamespot.com/a/uploads/scale_medium/171/1712892/3617668-screen%20shot%202019-12-19%20at%2011.24.25%20pm.png"
        alt="">
    <div class="card">
        <img class="card-img-top" src=" {{ series.poster }} " alt="Card image cap">
        <div class="card-body">
            <h6>{{ series.title }}</h6>
            <p class="card-text">{{ series.startYear }} - aujourd'hui</p>
        </div>
    </div>
</section>
<section class="content">
    <div class="stats">
        <div class="stat">
            <h6>MA NOTE</h6>
            <p>3.5/5</p>
        </div>
        <hr>
        <div class="stat">
            <h6>POPULARITÉ</h6>
            <p>82%</p>
        </div>
        <hr>
        <div class="stat">
            <h6>AVIS</h6>
            <p>{{ comments|length }}</p>
        </div>
        <hr>
        <div class="stat">
            <h6>FAVORIS</h6>
            <i class="bi bi-heart"></i>
        </div>
    </div>

    <div class="synopsis">
        <h6>Synopsis</h6>
        <div class="container">
            <p>{{ series.synopsis }}</p>
        </div>
    </div>

    <div class="details">
        <h6>Informations</h6>
        <div class="container">
            <div class="detail">
                <h4>{{ series.seasonsCount }}</h4>
                <h6>saisons</h6>
            </div>
            <hr>
            <div class="detail">
                <h4>{{ series.episodesCount }}</h4>
                <h6>épisodes</h6>
            </div>
            <hr>
            <div class="detail">
                <a href="{{ series.allocineLink }}" target="blank">
                    <p>Voir sur</p>
                    <p>Allociné</p>
                </a>
            </div>
        </div>
    </div>

    <div class="comments">
        <h6>Commentaires</h6>
        <div class="container">
            <div class="comment">
                {% if comments is empty %}
                <h5>Il n'y a pas encore de commentaires par ici.</h5>
                {% else %}
                {% for comment in comments %}
                <div class="postedBy">
                    <h6>Par&nbsp;</h6>
                    <h6 id="user"> {{ comment.author.username }}</h6>
                    <h6>- il y a 2 heures</h6>
                </div>
                <div class="content">
                    <p>{{ comment.comment }}</p>
                </div>
                {% if app.user %}
                    {% if app.user.username == comment.author.username or is_granted("ROLE_ADMIN") %}
                    <div class="edit">
                        {{ include('comment/_delete_form.html.twig') }}
                    </div>
                    {% endif %}
                {% endif %}
                <hr>
                {% endfor %}
                {% endif %}
                
            </div>
            <div class="addComment">
                <h4>Ajouter un commentaire</h4>
                {% if app.user %}
                    {{ include('comment/_form.html.twig') }}
                {% else %}
                    <p><strong><a href="/login">Connecte-toi</a> </strong>pour ajouter un commentaire</p>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}